[defaults]
inventory = ./inventory/management.aws_ec2.yml

roles_path = ./roles

result_format = yaml

retry_files_enabled = False

interpreter_python = auto_silent

[inventory]
enable_plugins = amazon.aws.aws_ec2

any_unparsed_is_failed = True
